
Project2sfml/.vs/Project2sfml/v16/Browse.VC.db
Project2sfml/.vs/Project2sfml/v16/Browse.VC.db-shm
Project2sfml/.vs/Project2sfml/v16/ipch/AutoPCH/20ad8eda0e8791fc/SFML2TEST.ipch
Project2sfml/.vs/Project2sfml/v16/Browse.VC.opendb
Project2sfml/.vs/Project2sfml/v16/Browse.VC.db-wal
Project3SFML/.vs/Project3SFML/v16/Browse.VC.opendb
